* {
    font-family: Tahoma, sans-serif;
}

.header {  
    text-align: center;
    font-size: 36px;
}

.recipe-menu {
    font-size: 24px;
}

.recipe-menu img {
    height: auto;
    width: 200px;
}
.header-image img {
    height: auto;
    width: 400px;
}

.recipe-body {
    font-size: 12px;
}